openapi: 3.1.0
info:
  title: Sallehly AI Video Engine API
  version: "1"
  description: >
    Public/internal API for apps/api - implemented and tested end-to-end
    (fastapi.testclient.TestClient) as of Phase 4. Every path below is a
    real route in apps/api/src/api/routes/. Route handlers call
    state.orchestrator (an IProjectOrchestrator), never
    CreativeDirector/CreativeCompiler/GenerationPipeline directly - see
    docs/adr/0010-persistence-and-lifecycle.md. Business schemas are
    referenced directly from packages/schemas/json/ so this contract
    cannot drift from the internal pipeline contracts.
servers:
  - url: https://api.sallehly.ai
    description: Production (future)
  - url: http://localhost:8000
    description: Local dev

paths:
  /projects:
    post:
      summary: Create a project from a creative brief
      description: >
        Creates the Project (status=created). Does not trigger planning -
        call POST /projects/{id}/generate-plan next.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [workspace_id, created_by, prompt, target_duration_sec, aspect_ratio]
              properties:
                workspace_id: { type: string }
                created_by: { type: string }
                prompt: { type: string }
                target_duration_sec: { type: number, exclusiveMinimum: 0 }
                aspect_ratio: { type: string, enum: ["16:9", "9:16", "1:1", "21:9", "4:5"] }
                reference_asset_ids:
                  type: array
                  items: { type: string }
                style_preset_id: { type: string }
      responses:
        "201":
          description: Project created
          content:
            application/json:
              schema:
                $ref: "../../packages/schemas/json/project.schema.json"

  /projects/{project_id}:
    get:
      summary: Get a project's current state
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200":
          description: Project
          content:
            application/json:
              schema:
                $ref: "../../packages/schemas/json/project.schema.json"
        "404":
          $ref: "#/components/responses/NotFound"

  /projects/{project_id}/generate-plan:
    post:
      summary: Run Creative Planning (AI Director + Creative Compiler through storyboard generation)
      description: >
        created -> planning -> waiting_storyboard_approval. Internally:
        CreativeDirector.generate_director_plan then
        CreativeCompiler.compile_storyboard.
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200":
          description: Project now waiting_storyboard_approval
          content:
            application/json:
              schema:
                $ref: "../../packages/schemas/json/project.schema.json"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/InvalidTransition"

  /projects/{project_id}/approve-storyboard:
    post:
      summary: Approve the storyboard (gate 1), compiling the render plan
      description: >
        Requires status=waiting_storyboard_approval.
        waiting_storyboard_approval -> waiting_render_approval. Internally:
        CreativeCompiler.approve_storyboard then
        CreativeCompiler.compile_render_plan.
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200":
          description: Project now waiting_render_approval
          content:
            application/json:
              schema:
                $ref: "../../packages/schemas/json/project.schema.json"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/InvalidTransition"

  /projects/{project_id}/reject-storyboard:
    post:
      summary: Reject the storyboard with feedback; regenerates it
      description: >
        Requires status=waiting_storyboard_approval. Records feedback,
        then immediately re-invokes CreativeDirector.regenerate_with_feedback
        and CreativeCompiler.compile_storyboard, leaving the project
        waiting_storyboard_approval again with a revised storyboard.
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [feedback]
              properties:
                feedback:
                  type: array
                  items: { type: string }
      responses:
        "200":
          description: Project waiting_storyboard_approval again, with a revised storyboard
          content:
            application/json:
              schema:
                $ref: "../../packages/schemas/json/project.schema.json"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/InvalidTransition"

  /projects/{project_id}/approve-render:
    post:
      summary: Approve the render plan (gate 2)
      description: Requires status=waiting_render_approval. waiting_render_approval -> approved.
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200":
          description: Project now approved, ready for generate-video
          content:
            application/json:
              schema:
                $ref: "../../packages/schemas/json/project.schema.json"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/InvalidTransition"

  /projects/{project_id}/reject-render:
    post:
      summary: Reject the render plan with feedback; recompiles it
      description: >
        Requires status=waiting_render_approval. Records feedback, then
        recompiles the render plan (optionally at a different
        quality_tier), leaving the project waiting_render_approval again.
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [feedback]
              properties:
                feedback:
                  type: array
                  items: { type: string }
                quality_tier:
                  type: string
                  enum: [preview, standard, final]
      responses:
        "200":
          description: Project waiting_render_approval again, with a recompiled render plan
          content:
            application/json:
              schema:
                $ref: "../../packages/schemas/json/project.schema.json"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/InvalidTransition"

  /projects/{project_id}/generate-video:
    post:
      summary: Submit every shot in the approved render plan to the Video Engine
      description: >
        Requires status=approved. approved -> generating -> completed (or
        failed, if any shot's GenerationJob failed). Internally:
        GenerationPipeline.generate_plan, one GenerationJob per shot.
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200":
          description: Project now completed or failed; generation_job_ids/asset_ids populated
          content:
            application/json:
              schema:
                $ref: "../../packages/schemas/json/project.schema.json"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/InvalidTransition"

  /projects/{project_id}/assets:
    get:
      summary: List the project's generated assets
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200":
          description: Assets
          content:
            application/json:
              schema:
                type: object
                properties:
                  project_id: { type: string }
                  assets:
                    type: array
                    items:
                      $ref: "../../packages/schemas/json/asset_record.schema.json"
        "404":
          $ref: "#/components/responses/NotFound"

  /jobs/{job_id}:
    get:
      summary: Get a generation job
      parameters:
        - $ref: "#/components/parameters/JobId"
      responses:
        "200":
          description: GenerationJob
          content:
            application/json:
              schema:
                $ref: "../../packages/schemas/json/generation_job.schema.json"
        "404":
          $ref: "#/components/responses/NotFound"

  /jobs/{job_id}/status:
    get:
      summary: Get a generation job's status only (lighter-weight poll target)
      parameters:
        - $ref: "#/components/parameters/JobId"
      responses:
        "200":
          description: Job status
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id: { type: string }
                  status: { type: string, enum: [queued, running, completed, failed] }
                  retry_count: { type: integer }
                  error_message: { type: ["string", "null"] }
        "404":
          $ref: "#/components/responses/NotFound"

components:
  parameters:
    ProjectId:
      name: project_id
      in: path
      required: true
      schema: { type: string }
    JobId:
      name: job_id
      in: path
      required: true
      schema: { type: string }

  responses:
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            type: object
            properties:
              detail: { type: string }
    InvalidTransition:
      description: >
        The project's current status doesn't allow this transition (e.g.
        approving a storyboard that isn't waiting_storyboard_approval).
      content:
        application/json:
          schema:
            type: object
            properties:
              detail: { type: string }

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer

security:
  - BearerAuth: []
