openapi: 3.1.0
info:
  title: Sallehly AI Video Engine API
  version: "1"
  description: >
    Public/internal API for apps/api - implemented and tested end-to-end
    (fastapi.testclient.TestClient) since Phase 4, extended through
    Phase 8 (auth, plan/storyboard/render-plan retrieval, retry-
    generation, asset upload, Cinematic Intelligence, finalize/render-
    manifest). Every path below is a real route in
    apps/api/src/api/routes/. Route handlers call state.orchestrator (an
    IProjectOrchestrator) or state.cinematic_intelligence (a
    CinematicIntelligenceCoordinator), never
    CreativeDirector/CreativeCompiler/GenerationPipeline/individual
    Cinematic Intelligence engines directly - see
    docs/adr/0010-persistence-and-lifecycle.md and
    docs/adr/0014-pipeline-integration.md. Business schemas are
    referenced directly from packages/schemas/json/ so this contract
    cannot drift from the internal pipeline contracts.
servers:
  - url: https://api.sallehly.ai
    description: Production (future)
  - url: http://localhost:8000
    description: Local dev

paths:
  /auth/register:
    post:
      summary: Register a new user
      description: >
        Creates a user and its personal default workspace
        (workspace_id=ws_<user_id>). See packages/auth - there is no
        team/workspace-membership model yet, every user gets exactly one
        workspace that is theirs alone.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string }
                password: { type: string }
      responses:
        "201":
          description: The created user (never includes password_hash/password_salt)
          content:
            application/json:
              schema:
                $ref: "../../packages/schemas/json/user.schema.json"
        "409":
          description: Email already registered

  /auth/login:
    post:
      summary: Authenticate and receive a bearer token
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string }
                password: { type: string }
      responses:
        "200":
          description: Bearer token + the authenticated user
          content:
            application/json:
              schema:
                type: object
                properties:
                  token: { type: string }
                  user:
                    $ref: "../../packages/schemas/json/user.schema.json"
        "401":
          description: Invalid email or password

  /users/me:
    get:
      summary: Get the currently authenticated user
      responses:
        "200":
          description: Current user
          content:
            application/json:
              schema:
                $ref: "../../packages/schemas/json/user.schema.json"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /projects:
    get:
      summary: List projects in the caller's own workspace
      description: >
        workspace_id is always the authenticated user's own
        (current_user.workspace_id) - never taken from a query parameter,
        so a token can only ever list its own workspace's projects.
      responses:
        "200":
          description: Projects
          content:
            application/json:
              schema:
                type: object
                properties:
                  projects:
                    type: array
                    items:
                      $ref: "../../packages/schemas/json/project.schema.json"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      summary: Create a project from a creative brief
      description: >
        Creates the Project (status=created). Does not trigger planning -
        call POST /projects/{id}/generate-plan next. workspace_id and
        created_by are derived from the bearer token, not accepted from
        the client.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [prompt, target_duration_sec, aspect_ratio]
              properties:
                prompt: { type: string }
                target_duration_sec: { type: number, exclusiveMinimum: 0 }
                aspect_ratio: { type: string, enum: ["16:9", "9:16", "1:1", "21:9", "4:5"] }
                reference_asset_ids:
                  type: array
                  items: { type: string }
                style_preset_id: { type: string }
      responses:
        "201":
          description: Project created
          content:
            application/json:
              schema:
                $ref: "../../packages/schemas/json/project.schema.json"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /projects/{project_id}:
    get:
      summary: Get a project's current state
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200":
          description: Project
          content:
            application/json:
              schema:
                $ref: "../../packages/schemas/json/project.schema.json"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /projects/{project_id}/generate-plan:
    post:
      summary: Run Creative Planning (AI Director + Creative Compiler through storyboard generation)
      description: >
        created -> planning -> waiting_storyboard_approval. Internally:
        CreativeDirector.generate_director_plan then
        CreativeCompiler.compile_storyboard.
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200":
          description: Project now waiting_storyboard_approval
          content:
            application/json:
              schema:
                $ref: "../../packages/schemas/json/project.schema.json"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/InvalidTransition"

  /projects/{project_id}/plan:
    get:
      summary: Get the generated DirectorPlan (scenes/shots)
      description: >
        For the Creative Workspace UI's story editor/scene timeline/shot
        cards. Returns the CreativeCompiler's enriched copy
        (director_plan_enriched: camera/lighting/motion/style filled in
        per shot) once storyboard compilation has run, otherwise the
        CreativeDirector's original plan. 404 until generate-plan has
        run at least once.
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200":
          description: DirectorPlan
          content:
            application/json:
              schema:
                $ref: "../../packages/schemas/json/director_plan.schema.json"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /projects/{project_id}/storyboard:
    get:
      summary: Get the generated storyboard, for gate-1 review
      description: 404 until generate-plan has run at least once.
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200":
          description: Storyboard
          content:
            application/json:
              schema:
                $ref: "../../packages/schemas/json/storyboard.schema.json"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /projects/{project_id}/render-plan:
    get:
      summary: Get the compiled render plan, for gate-2 review
      description: 404 until approve-storyboard has run (render plan compilation happens there).
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200":
          description: RenderPlan
          content:
            application/json:
              schema:
                $ref: "../../packages/schemas/json/render_plan.schema.json"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /projects/{project_id}/approve-storyboard:
    post:
      summary: Approve the storyboard (gate 1), compiling the render plan
      description: >
        Requires status=waiting_storyboard_approval.
        waiting_storyboard_approval -> waiting_render_approval. Internally:
        CreativeCompiler.approve_storyboard then
        CreativeCompiler.compile_render_plan.
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200":
          description: Project now waiting_render_approval
          content:
            application/json:
              schema:
                $ref: "../../packages/schemas/json/project.schema.json"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/InvalidTransition"

  /projects/{project_id}/reject-storyboard:
    post:
      summary: Reject the storyboard with feedback; regenerates it
      description: >
        Requires status=waiting_storyboard_approval. Records feedback,
        then immediately re-invokes CreativeDirector.regenerate_with_feedback
        and CreativeCompiler.compile_storyboard, leaving the project
        waiting_storyboard_approval again with a revised storyboard.
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [feedback]
              properties:
                feedback:
                  type: array
                  items: { type: string }
      responses:
        "200":
          description: Project waiting_storyboard_approval again, with a revised storyboard
          content:
            application/json:
              schema:
                $ref: "../../packages/schemas/json/project.schema.json"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/InvalidTransition"

  /projects/{project_id}/approve-render:
    post:
      summary: Approve the render plan (gate 2)
      description: Requires status=waiting_render_approval. waiting_render_approval -> approved.
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200":
          description: Project now approved, ready for generate-video
          content:
            application/json:
              schema:
                $ref: "../../packages/schemas/json/project.schema.json"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/InvalidTransition"

  /projects/{project_id}/reject-render:
    post:
      summary: Reject the render plan with feedback; recompiles it
      description: >
        Requires status=waiting_render_approval. Records feedback, then
        recompiles the render plan (optionally at a different
        quality_tier), leaving the project waiting_render_approval again.
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [feedback]
              properties:
                feedback:
                  type: array
                  items: { type: string }
                quality_tier:
                  type: string
                  enum: [preview, standard, final]
      responses:
        "200":
          description: Project waiting_render_approval again, with a recompiled render plan
          content:
            application/json:
              schema:
                $ref: "../../packages/schemas/json/project.schema.json"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/InvalidTransition"

  /projects/{project_id}/generate-video:
    post:
      summary: Submit every shot in the approved render plan to the Video Engine
      description: >
        Requires status=approved. approved -> generating -> completed (or
        failed, if any shot's GenerationJob failed). Internally:
        GenerationPipeline.generate_plan, one GenerationJob per shot.
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200":
          description: Project now completed or failed; generation_job_ids/asset_ids populated
          content:
            application/json:
              schema:
                $ref: "../../packages/schemas/json/project.schema.json"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/InvalidTransition"

  /projects/{project_id}/retry-generation:
    post:
      summary: Retry generation after a failed attempt
      description: >
        Requires status=failed. Re-runs GenerationPipeline.generate_plan
        against the same already-approved render plan (no re-approval
        needed - approval covers the creative content, not the GPU job
        outcome). failed -> generating -> completed (or failed again).
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200":
          description: Project now completed or failed again
          content:
            application/json:
              schema:
                $ref: "../../packages/schemas/json/project.schema.json"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/InvalidTransition"

  /projects/{project_id}/assets:
    get:
      summary: List the project's generated assets
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200":
          description: Assets
          content:
            application/json:
              schema:
                type: object
                properties:
                  project_id: { type: string }
                  assets:
                    type: array
                    items:
                      $ref: "../../packages/schemas/json/asset_record.schema.json"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /projects/{project_id}/finalize:
    post:
      summary: Assemble every generated shot into one exported deliverable
      description: >
        Requires status=completed (every shot generated). Timeline
        Builder -> FfmpegCompositor -> Export Service -> Asset Packager
        (PostProductionRunner, services/render-orchestrator), reusing
        the Phase 6 post-production pipeline unchanged - see
        docs/adr/0014-pipeline-integration.md. completed ->
        post_processing -> exported (or back to completed with
        error_message set, on failure - safely retriable). Requires
        ffmpeg/ffprobe on PATH.
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                export_spec:
                  description: >
                    export_spec.schema.json fields (format/quality_preset/...).
                    Defaults to {"format": "mp4", "quality_preset": "1080p"}
                    when omitted or null.
                  type: ["object", "null"]
      responses:
        "200":
          description: Project now exported (or reverted to completed on failure)
          content:
            application/json:
              schema:
                $ref: "../../packages/schemas/json/project.schema.json"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/InvalidTransition"

  /projects/{project_id}/render-manifest:
    get:
      summary: Get the project's RenderManifest, once finalized
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200":
          description: RenderManifest
          content:
            application/json:
              schema:
                $ref: "../../packages/schemas/json/render_manifest.schema.json"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Project doesn't exist, or hasn't been finalized yet

  /projects/{project_id}/cinematic/analyze:
    post:
      summary: Compute this project's live Cinematic Intelligence report
      description: >
        Character/object/scene/camera/style consistency scores, detected
        problems, and repair suggestions - aggregated live from whatever
        CinematicIntelligenceCoordinator has recorded so far (populated
        automatically when the storyboard is approved - see
        ProjectLifecycle._enrich_render_plan, docs/adr/0014-pipeline-integration.md).
        Read-only despite being POST - see GET .../report for the same
        data under a read-only verb.
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200":
          description: CinematicReport
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CinematicReport"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /projects/{project_id}/cinematic/report:
    get:
      summary: Read-only alias for POST .../analyze
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200":
          description: CinematicReport
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CinematicReport"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /projects/{project_id}/cinematic/prompts/{shot_id}/improve:
    post:
      summary: Rebuild one shot's PromptPackage from its resolved context, bumping its version
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/ShotId"
      responses:
        "200":
          description: The rebuilt PromptPackage
          content:
            application/json:
              schema:
                $ref: "../../packages/schemas/json/prompt_package.schema.json"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Project or shot not found

  /projects/{project_id}/cinematic/repair/{shot_id}:
    post:
      summary: Run the Automatic Repair Engine against a shot's most recent QualityReport
      description: >
        Always scoped to one shot. Requires a QualityReport to already
        exist for the shot (recorded automatically during enrichment -
        see .../analyze). The returned RepairAction starts
        review_status=pending; a human accepts/rejects it via the
        endpoints below.
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/ShotId"
      responses:
        "200":
          description: The proposed RepairAction
          content:
            application/json:
              schema:
                $ref: "../../packages/schemas/json/repair_action.schema.json"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Project/shot not found, or no QualityReport exists for this shot yet

  /projects/{project_id}/cinematic/repairs:
    get:
      summary: List every RepairAction proposed for this project
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200":
          description: Repairs
          content:
            application/json:
              schema:
                type: object
                properties:
                  repairs:
                    type: array
                    items:
                      $ref: "../../packages/schemas/json/repair_action.schema.json"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /projects/{project_id}/cinematic/repairs/{repair_id}/approve:
    post:
      summary: Approve a proposed RepairAction
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/RepairId"
      responses:
        "200":
          description: The RepairAction, now review_status=approved
          content:
            application/json:
              schema:
                $ref: "../../packages/schemas/json/repair_action.schema.json"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Project or repair_id not found

  /projects/{project_id}/cinematic/repairs/{repair_id}/reject:
    post:
      summary: Reject a proposed RepairAction
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/RepairId"
      responses:
        "200":
          description: The RepairAction, now review_status=rejected
          content:
            application/json:
              schema:
                $ref: "../../packages/schemas/json/repair_action.schema.json"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Project or repair_id not found

  /assets/upload:
    post:
      summary: Upload a reference asset (e.g. an image)
      description: >
        Frontend flow: upload here to get an asset_id, then pass it in
        POST /projects' reference_asset_ids. project_id is optional - a
        reference image is commonly uploaded before its project exists,
        in which case the asset is filed under the caller's workspace.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file: { type: string, format: binary }
                project_id: { type: string }
      responses:
        "201":
          description: Registered asset
          content:
            application/json:
              schema:
                $ref: "../../packages/schemas/json/asset_record.schema.json"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: project_id was given but doesn't exist

  /jobs/{job_id}:
    get:
      summary: Get a generation job
      parameters:
        - $ref: "#/components/parameters/JobId"
      responses:
        "200":
          description: GenerationJob
          content:
            application/json:
              schema:
                $ref: "../../packages/schemas/json/generation_job.schema.json"
        "404":
          $ref: "#/components/responses/NotFound"

  /jobs/{job_id}/status:
    get:
      summary: Get a generation job's status only (lighter-weight poll target)
      parameters:
        - $ref: "#/components/parameters/JobId"
      responses:
        "200":
          description: Job status
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id: { type: string }
                  status: { type: string, enum: [queued, running, completed, failed] }
                  retry_count: { type: integer }
                  error_message: { type: ["string", "null"] }
        "404":
          $ref: "#/components/responses/NotFound"

components:
  parameters:
    ProjectId:
      name: project_id
      in: path
      required: true
      schema: { type: string }
    JobId:
      name: job_id
      in: path
      required: true
      schema: { type: string }
    ShotId:
      name: shot_id
      in: path
      required: true
      schema: { type: string }
    RepairId:
      name: repair_id
      in: path
      required: true
      schema: { type: string }

  schemas:
    CinematicReport:
      description: >
        CinematicIntelligenceCoordinator.get_project_report's live
        aggregation - not a stored artifact, so it has no
        packages/schemas/json/ file of its own (see
        docs/adr/0014-pipeline-integration.md). scores.* values are
        null until at least one shot analyzed that dimension;
        scores.overall is null until at least one other score is
        present.
      type: object
      properties:
        project_id: { type: string }
        shots_analyzed: { type: integer }
        character_count: { type: integer }
        object_count: { type: integer }
        environment_count: { type: integer }
        scores:
          type: object
          properties:
            character_consistency: { type: ["number", "null"] }
            object_consistency: { type: ["number", "null"] }
            scene_continuity: { type: ["number", "null"] }
            camera_consistency: { type: ["number", "null"] }
            style: { type: ["number", "null"] }
            overall: { type: ["number", "null"] }
        problems:
          type: array
          items:
            type: object
            properties:
              violation_type: { type: string }
              category: { type: string }
              severity: { type: string, enum: [info, warning, critical] }
              description: { type: string }
              shot_id: { type: string }
              related_shot_id: { type: string }
              source: { type: string, enum: [continuity, quality] }
        repair_suggestions:
          type: array
          items:
            type: object
            properties:
              shot_id: { type: string }
              report_id: { type: string }
              overall_score: { type: number }
              worst_dimension: { type: string }

  responses:
    Unauthorized:
      description: Missing/malformed/invalid or expired bearer token
      content:
        application/json:
          schema:
            type: object
            properties:
              detail: { type: string }
    Forbidden:
      description: Authenticated, but not the owner of this project
      content:
        application/json:
          schema:
            type: object
            properties:
              detail: { type: string }
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            type: object
            properties:
              detail: { type: string }
    InvalidTransition:
      description: >
        The project's current status doesn't allow this transition (e.g.
        approving a storyboard that isn't waiting_storyboard_approval).
      content:
        application/json:
          schema:
            type: object
            properties:
              detail: { type: string }

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer

security:
  - BearerAuth: []
